@charset "UTF-8";

.presentation {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.presentationBouton {
  width: 150px;
  height: auto;
}

.presentationImage {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.video {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.newsletter {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  margin: 5px;
}

.input {
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  width: 50%;
}

.centrer {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.btnEquipe {
  width: 50%;
  margin-left: 50%;
}

.fonctionalitesRow {
  -webkit-box-pack: center;
          justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.fonctionalitesBlock {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.fonctionalitesTexte {
  margin: 10px;
}

.colone {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.row {
  margin: 0;
}

.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
  margin: 0;
  padding: 0;
}

label {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

section {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  margin-top: 5%;
  margin-bottom: 10%;
  margin-left: 5%;
  margin-right: 5%;
}

/* TODO pour la responsivité */

.galery {
  width: 100%;
}

.section-info-circuit{
  display: inline-block;
}

.infos-circuit{
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -webkit-box-pack:  left;
          justify-content:  left;
  -webkit-box-align:  left;
          align-items: left;
}

#circuit section{
  margin-bottom: 3rem;
  margin-top: 3rem;
}
