@charset "UTF-8";

.row {
  margin: 0;
}

section {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  border: 1px solid red;
}

.presentation {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.presentationBouton {
  width: 150px;
  height: auto;
}

.presentationImage {
  width: 100%;
}

/* TODO pour la responsivité */

