//

// @import "accueil";
.row {
    margin: 0;
}
.col-lg-9, .col-lg-3, .col-lg-4,.col-lg-6, .col-lg-8{
    margin: 0;
    padding: 0;
}
label {
    margin: 0;
    padding: 0;
}
section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
    border : 1px solid red;
}

.presentation {
    display: flex;
    flex-direction: column;
}

.presentationBouton {
    width: 150px;
    height: auto;
}

.presentationImage {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.input {
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    width: 50%;
}

.centrer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* TODO pour la responsivité */
// .order1 {
//     order: 1;
// }

// .order2 {
//     order: 2;
// }

.patenaires{
    padding-left: 0px;
}